# Ruby / Bundler
/.bundle/
/vendor/bundle/
*.gem
*.rbc

# Rails artifacts
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
/app/assets/builds
/app/assets/.sprockets-manifest-*.json
/coverage/
db/*.sqlite3
db/*.sqlite3-journal

# Node / JS
/node_modules/
/yarn-error.log
/npm-debug.log*
/pnpm-lock.yaml
/.pnp.*
/.esbuild
/.parcel-cache

# Credentials / env
/config/master.key
/config/credentials*.yml.enc
.env
.env.*

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Byebug / pry
.byebug_history
